header {
  background-color: rgb(238, 0, 255);
  color: rgb(246, 255, 0);
  /* top'bottom , left/right */
  /* top , right , left , bottom */
  padding: 100px 50px;
  margin-bottom: 35px;
}

footer{
  background-color: rgb(238, 0, 255);
  color: rgb(246, 255, 0);
  padding: 100px 50px;
  margin-top: 35px;
}