/* DEFAULT STYLES FOR A PAGE */

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding: 0%;
  margin: 0%;
}

h1 {
  font-family: "Momo Signature", cursive;
}
